---
import BottomNav from "../components/BottomNav.astro";
import VehicleCard from "../components/VehicleCard.astro";
import MainLayout from "../layout/MainLayout.astro";
import "../styles/global.css";
import vehicles from "../data/vehicles.json";
---


<MainLayout title="Home">

	<h1 class="text-3xl text-white font-semibold p-2 px-9">MotorLog</h1>

	{vehicles.map(vehicle =>(
		<VehicleCard 
		image={vehicle.image} 
		model={vehicle.model} 
		matriculation={vehicle.matriculation}
		kilometers={vehicle.kilometers}
		 />
	))}





</MainLayout>