---
import MainLayout from "../layout/MainLayout.astro";
const { image } = Astro.props;
const { model } = Astro.props;
const { matriculation } = Astro.props;
const { kilometers } = Astro.props;

interface Props {
    image?: string;
    model: string;
    matriculation: string;
    kilometers?: string;
}
---

<div class="text-white px-9">
    <div class="flex flex-row items-center gap-5 bg-[#1E1F20] rounded-xl p-2 mb-4 shadow-lg">
        <div>
            <img class="h-20 rounded-xl" src={ "../../public/img/" + image }>
        </div>
        <div >
            <div>
                <span class="font-semibold">{ model }</span>
            </div>
            <div class="text-[#807F7F]">
                <span>{ matriculation }</span>
            </div>
            <div class="text-[#807F7F]">
                <span>{ kilometers }</span>
            </div>
        </div>
    </div>

</div>